.vertical-links {
    list-style-type: none; /* Oculta los puntos de la lista */
    padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
  }
  