<!-- login.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrapAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Acceder</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formulariologin">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="correo" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="contraseña" type="password"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
      </form>

      <ul class="vertical-links">
        <li><a [routerLink]="['/forgot-password']">Recuperar contraseña</a></li>
      </ul>

      <ion-card *ngIf="tipoUsuario">
        <ion-card-header>
          <ion-card-title>Tipo de Usuario</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Tu tipo de usuario es: {{ tipoUsuario }}</p>
          <!-- Puedes agregar más contenido aquí según el tipo de usuario -->
        </ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <!-- Puedes agregar contenido adicional en el pie de página si es necesario -->
</ion-footer>