<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrapAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Acceder</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formulariologin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="contraseña" type="password"></ion-input>
        </ion-item>
      </form>
      <!-- Aquí puedes agregar los elementos del formulario o contenido que desees -->
      <!-- Por ejemplo, puedes agregar botones, etiquetas, o cualquier otro elemento -->
      <ion-button (click)="ingresar()">
        Ingresar
      </ion-button>
      <ion-button [routerLink]="['/registrar']">Registrarse</ion-button>
      <ion-button [routerLink]="['/forgot-password']">Recuperar contraseña</ion-button>


    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <!-- Puedes agregar contenido adicional en el pie de página si es necesario -->
</ion-footer>